@import "tailwindcss";

/* Tambahkan reset ini agar tidak ada margin/padding default dari browser */
@layer base {
  body, html, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
}